/cinclude
/dynregion
/fallthru_tests
/flatlist
/foo
/hello
/histogram
/md5
/mmap_test
/multimethod
/offsetof_test
/patterns
/rc
/refcnt_reap_test
/refcnt_test
/require
/scheme
/scheme-2
/sigaction_test
/streambufftest
/structarray
/subset
/t1
/t2
/t3
/t4
/testaqualsuccess
/testasm
/testbget
/test_currgn
/testexn
/test_getopt
/test_large_vc_terms
/test_regions
/unique_patterns
/unique_test
/zeroterm

/mmap_test.txt

/*.c
!/testbget.c
