/cinclude
/dynregion
/flatlist
/foo
/hello
/histogram
/md5
/multimethod
/patterns
/rc
/refcnt_test
/scheme
/scheme-2
/streambufftest
/subset
/test_currgn
/test_getopt
/test_large_vc_terms
/test_regions
/testaqualsuccess
/testasm
/testbget
/unique_patterns
/zeroterm
/*.c
